<!-- Begin alerts -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<script>
       swal.fire({
              title: "{{ category.title() }}",
              // posibles categorias a recibir: success , error , warning ,info
              text: "{{ message }}",
              // menasaje a mandar
              icon: "{{ category }}"
              // posibles categorias a recibir: success , error , warning ,info
       });
</script>

{% endfor %}
{% endif %}
{% endwith %}